<div id="Start"> <!--Name Line has started-->
  <h1>Inquiry Page</h1>
  <p><i>Please, feel free to drop your queries in the following form. <br>
    Our representative will contact you soon.</i></p>
</div> <!--Name Line has ended-->

<div class="container">  <!--Inquiry Form has started-->
  <div class="row">
    <div class="col-md-9 offset-md-2">
      <form [formGroup]="inquiryform" (ngSubmit)="onSubmit()">  <!--Form tag has started-->

        <div class="formgroup col-md-6"> <!--First Name of the form-->
          <label for="firstname">First Name:</label>
          <input formControlName="firstName" [ngClass]="{'is-invalid':submitted && inquiryform.controls['firstName'].errors}" type="text" class="form-control">
          <div *ngIf="submitted && inquiryform.controls['firstName'].errors" class="text-danger">
            <div *ngIf="submitted && inquiryform.controls['firstName'].errors?.['required']">Please, enter your first name.</div>
          </div>
        </div>

        <div class="formgroup col-md-6"> <!--Last Name of the form-->
          <label for="lastname">Last Name:</label>
          <input formControlName="lastName" [ngClass]="{'is-invalid':submitted && inquiryform.controls['lastName'].errors}" type="text" class="form-control">
          <div *ngIf="submitted && inquiryform.controls['lastName'].errors" class="text-danger">
            <div *ngIf="submitted && inquiryform.controls['lastName'].errors?.['required']">Please, enter your last name.</div>
          </div>
        </div>

        <div class="formgroup col-md-6"> <!--Phone Number of the form-->
          <label for="number">Phone Number:</label>
          <input formControlName="Number" [ngClass]="{'is-invalid':submitted && inquiryform.controls['Number'].errors}" type="tel" class="form-control">
          <div *ngIf="submitted && inquiryform.controls['Number'].errors" class="text-danger">
            <div *ngIf="submitted && inquiryform.controls['Number'].errors?.['required']">Please, enter your 10 digit Phone Number.</div>
          </div>
        </div>

        <div class="formgroup col-md-6"> <!--Email of the form-->
          <label for="email">Email:</label>
          <input formControlName="Email" [ngClass]="{'is-invalid':submitted && inquiryform.controls['Email'].errors}" type="text" class="form-control">
          <div *ngIf="submitted && inquiryform.controls['Email'].errors" class="text-danger">
            <div *ngIf="submitted && inquiryform.controls['Email'].errors?.['required']">Please,enter your email.</div>
            <div *ngIf="submitted && inquiryform.controls['Email'].errors?.['email']">Please,enter your valid email.</div>
          </div>
        </div>

        <div class="formgroup col-md-7"> <!--Query of the form-->
          <label for="query">Your Query:</label>
          <input formControlName="Query" [ngClass]="{'is-invalid':submitted && inquiryform.controls['Query'].errors}" type="text" class="form-control">
          <div *ngIf="submitted && inquiryform.controls['Query'].errors" class="text-danger">
            <div *ngIf="submitted && inquiryform.controls['Query'].errors?.['required']">Please, enter your query.</div>
          </div>
        </div>

        <div class="formgroup col-md-7" id="button"> <!--Button of the form-->
          <button class="btn btn-primary">Submit Form</button>
        </div>

      </form>  <!--Form tag has ended-->
    </div>
  </div>
</div>  <!--Inquiry Form has ended-->

<div id="thanks"> <!--Thanks Line has started-->
  <h4 style="text-align: center;"><i>Thanks, for trusting our services !</i></h4>
</div> <!--Thanks Line has ended-->

<div id="nametime"> <!--Name & timing of page has started-->
  <div class = "pull-left">
    <h1>Trinity<br>Hospital</h1>
 </div>
 <div class="pull-right">
  <h3>Opening Hours:</h3>
  <p><span class="glyphicon glyphicon-dashboard"> Monday-Friday - 09:00AM - 10:00PM</span></p>
  <p><span class="glyphicon glyphicon-dashboard"> Saturday - 09:00AM - 10:00PM</span></p>
  <p><span class="glyphicon glyphicon-dashboard"> Sunday - 09:00AM - 10:00PM</span></p><br>
 </div>
</div> <!--Name & timing of page has ended-->


