<div>
<table>
  <td></td>
  <td>
    <div>
      <p>Inqiry is working</p>
    </div>
    <div>
      <table class="getintouch">
        <h1>Contact Us</h1>
        <tr><span class="glyphicon glyphicon-earphone"> 022-7896 7896</span></tr> <br>
        <tr><span class="glyphicon glyphicon-earphone"> 022-5678 5678</span></tr><br>
        <tr><span class="glyphicon glyphicon-envelope"> HospitalWebsite@gmail.com</span></tr><br>
        <tr><span class="glyphicon glyphicon-envelope"> HospitalQueries@gmail.com</span></tr><br>
          </table>
    </div>
  </td>
</table>
</div>
