

  <div>

<form class="main">
     <div class="class1">
        <img class="showimage" src="assets/images/doctor1.jpg"/>
    </div>
    <div>
    <h4 class="class2">Hello, Welcome</h4>
    <p class="class3">When it comes to personal health cares,

        people from various walks of life , from cltures and lifestyle <br>
        significantly from one another does have certain unansweable questions<br>
        which need the minutest understanding and explanation which will make<br>
        you decide whether or not to take a step outside your motheland.<br>

        In this regard, we at Beyond Boundaries Heath Care,<br>
        take a complete care on answering every sigle question<br>
        that yo would like to get an answer which would best satify you.<br>

    </p>
    </div>

</form>
</div>




<div class="rights">
<div class="Patients">
    <h2>Rights of Patients</h2>
    <ul type="*">
        <li>Right to respect for personal dignity and privacy during examination, procedures and treatment.</li>
    <li>Right to protection from physical abuse or neglect.</li>
    <li>
        Right to treating patient information as confidential.</li>
        <li>Right to obtaining informed consent before carrying out procedures.</li>
        <li>
            Right to information on how to voice a complaint.</li>
    </ul>

</div>
<div class="Response">
    <h2>Responsibility of Patients</h2>
    <ul type="*">
        <li>To faithfully undergo the agreed therapy.</li>
        <li>To follow the doctors instructions diligently.</li>
        <li>To take necessary preventive measures in case of infectious disease
            as per the doctors instructions.</li>
            <li>To be aware that doctors and nurses are also human beings and are amenable to mistakes and lapses.</li>
    </ul>
</div>
</div>
