
.main{
    background-color: #f6f8fa;
    margin-right:200px;
    padding: 0px 200px 10px;
    
}
.container {
    width: 20em;
    margin-left: auto;
    margin-right: auto;
  }
.Patients{
    margin-left:70%;
    padding-left:0.1em;
}

.Response{
    margin-right: 70;
    padding-right: 01em;

}
