<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trinity Hospital</title>
</head>
<body>
  <header>
  <div id="header-container">
    <h1 id="name">Trinity Hospital</h1>
  </div>
    <div id="list">
      <nav>
          <ul id="menu">
              <li><a href="./OurServices.component.html">Our Services</a></li>
              <li>About Us</li>
              <li>Contact</li>
          </ul>
      </nav>
  </div>
  </header>
</body>
</html>
<app-footer></app-footer>
