<div id="fillinfo"> <!--Heading of Page has started-->
<h3>Please, book your appointment with us.</h3>
<h3>Better Heathcare Soltions with Better Doctor Appointment</h3>
</div> <!--Heading of Page has ended-->

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-2">
            <form>

                <div class="form-group">
                    <label for="firstname">First Name:</label>
                    <input  type="text" class="form-control" >
                </div>

                <div class="form-group">
                    <label for="lastname">Last Name:</label>
                    <input type="text" class="form-control">
                </div>
                

                <div class="form-group">  <!--Button of the form-->
                    <button class="btn btn-primary">Submit Form</button>
                </div>

            </form>
        </div>   
    </div>
</div>


    




    

     
            





  
