<div id="fillinfo"> 

<h1>Booking Appointment Page</h1> <!--Heading of Page has started-->

<p><i>Fill the following booking-appointment form,
  for your better healthcare solutions with our experienced doctors</i></p>
</div> <!--Heading of Page has ended-->

<div id="space"></div> <!--To put the space between heading and form-->

<div class="container">  <!--Booking Fom has started-->
    <div class="row">
        <div class="col-md-9.5 offset-md-1.5">
            <form [formGroup]="bookingform" (ngSubmit)="onSubmit()">

                <div class="form-group col-md-6"> <!--First Name of the form-->
                    <label for="firstname">First Name:</label>
                    <input formControlName="firstname" [ngClass]="{'is-invalid': submitted && bookingform.controls['firstname'].errors}" type="text" class="form-control">
                    <div *ngIf="submitted && bookingform.controls['firstname'].errors" class="text-danger">
                      <div *ngIf="submitted && bookingform.controls['firstname'].errors?.['required']">Please, enter your first name.</div>
                    </div>
                </div>

                <div class="form-group col-md-6"> <!--Last Name of the form-->
                    <label for="lastname">Last Name:</label>
                    <input formControlName="lastname" [ngClass]="{'is-invalid': submitted && bookingform.controls['lastname'].errors}" type="text" class="form-control">
                    <div *ngIf="submitted && bookingform.controls['lastname'].errors" class="text-danger">
                      <div *ngIf="submitted && bookingform.controls['lastname'].errors?.['required']">Please, enter your last name.</div>
                    </div>
                  </div>

                  <div class="formgroup col-md-6"> <!--Phone Number of the form-->
                    <label for="Phone">Phone Number:</label>
                    <input formControlName="Phone" [ngClass]="{'is-invalid':submitted && bookingform.controls['Phone'].errors}" type="tel" class="form-control">
                    <div *ngIf="submitted && bookingform.controls['Phone'].errors" class="text-danger">
                      <div *ngIf="submitted && bookingform.controls['Phone'].errors?.['required']">Please, enter your 10 digit Phone Number.</div>
                    </div>
                </div>

                  <div class="formgroup col-md-6"> <!--Email of the form-->
                    <label for="Email">Email:</label>
                    <input formControlName="Email" [ngClass]="{'is-invalid':submitted && bookingform.controls['Email'].errors}" type="text" class="form-control">
                    <div *ngIf="submitted && bookingform.controls['Email'].errors" class="text-danger">
                      <div *ngIf="submitted && bookingform.controls['Email'].errors?.['required']">Please,enter your email.</div>
                      <div *ngIf="submitted && bookingform.controls['Email'].errors?.['Email']">Please,enter your valid email.</div>
                    </div>
                  </div>

                  <div class="formgroup col-md-6"> <!--Age of the form-->
                      <label for="Age">Age:</label>
                      <input formControlName="Age" [ngClass]="{'is-invalid':submitted && bookingform.controls['Age'].errors}" type="text" class="form-control">
                      <div *ngIf="submitted && bookingform.controls['Age'].errors" class="text-danger">
                        <div *ngIf="submitted && bookingform.controls['Age'].errors?.['required']">Please, enter your valid age.</div>
                      </div>
                  </div>

                  <div class="formgroup col-md-6"> <!--Blood Group of the form-->
                      <label for="Bgroup">Blood Group:</label>
                      <input formControlName="Bgroup" [ngClass]="{'is-invalid':submitted && bookingform.controls['Bgroup'].errors}" type="text" class="form-control">
                      <div *ngIf="submitted && bookingform.controls['Bgroup'].errors" class="text-danger">
                        <div *ngIf="submitted && bookingform.controls['Bgroup'].errors?.['required']">Please, enter your valid Blood Group.</div>
                      </div>
                  </div>

                  <div class="formgroup col-md-6"> <!--Doctor's name of the form-->
                      <label for="doctorname">Doctor's Name:</label>
                      <input  type="text" class="form-control">
                  </div>

                  <div class="formgroup col-md-6"> <!--Health Concern of the form-->
                    <label for="message">Your Health Concern:</label>
                    <input formControlName="message" [ngClass]="{'is-invalid':submitted && bookingform.controls['message'].errors}" type="text" class="form-control">
                    <div *ngIf="submitted && bookingform.controls['message'].errors" class="text-danger"></div>
                      <div *ngIf="submitted && bookingform.controls['message'].errors?.['required']">Please, enter your health concern.</div>
                    </div>
  
                  <div class="form-group col-md-7" id="button">  <!--Button of the form-->
                      <button class="btn btn-primary" (click)="onSubmit()">Booking Appointment</button>
                  </div>
  
              </form>
          </div>
      </div>
  </div> <!--Booking Fom has ended-->
  
  <div id="thanks"> <!--Thanks Line has started-->
    <h4 style="text-align: center;"><i>Thanks, for trusting our services !</i></h4>
  </div> <!--Thanks Line has ended-->



  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  