<div id="fillinfo"> <!--Heading of Page has started-->
<h3>Please, book your appointment with us.</h3>
<h3>Better Heathcare Soltions with Better Doctor Appointment</h3>
</div> <!--Heading of Page has ended-->

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-2">
            <form [formGroup]="bookingform" (ngSubmit)="onSubmit()">

                <div class="form-group"> <!--First Name of the form-->
                    <label for="firstname">First Name:</label>
                    <input formControlName="firstName" [ngClass]="{'is-invalid': submitted && bookingform.controls['firstName'].errors}" type="text" class="form-control">
                    <div *ngIf="submitted && bookingform.controls['firstName'].errors" class="text-danger">
                      <div *ngIf="submitted && bookingform.controls['firstName'].errors?.['required']">Please, enter your first name.</div>
                    </div>
                </div>

                <div class="form-group"> <!--Last Name of the form-->
                    <label for="lastname">Last Name:</label>
                    <input formControlName="lastName" [ngClass]="{'is-invalid': submitted && bookingform.controls['firstName'].errors}" type="text" class="form-control">
                    <div *ngIf="submitted && bookingform.controls['lastName'].errors" class="text-danger">
                      <div *ngIf="submitted && bookingform.controls['lastName'].errors?.['required']">Please, enter your last name.</div>
                    </div>
                  </div>

                  <div class="formgroup"> <!--Phone Number of the form-->
                    <label for="number">Phone Number:</label>
                    <input formControlName="Number" [ngClass]="{'is-invalid':submitted && bookingform.controls['Number'].errors}" type="tel" class="form-control">
                    <div *ngIf="submitted && bookingform.controls['Number'].errors" class="text-danger">
                      <div *ngIf="submitted && bookingform.controls['Number'].errors?.['required']">Please, enter your 10 digit Phone Number.</div>
                    </div>
                </div>
          
                  <div class="formgroup"> <!--Email of the form-->
                    <label for="email">Email:</label>
                    <input formControlName="Email" [ngClass]="{'is-invalid':submitted && bookingform.controls['Email'].errors}" type="text" class="form-control">
                    <div *ngIf="submitted && bookingform.controls['Email'].errors" class="text-danger">
                      <div *ngIf="submitted && bookingform.controls['Email'].errors?.['required']">Please,enter your email.</div>
                      <div *ngIf="submitted && bookingform.controls['Email'].errors?.['email']">Please,enter your valid email.</div>
                    </div>
                  </div>

                  <div class="formgroup"> <!--Age of the form-->
                      <label for="age">Age:</label>
                      <input formControlName="Age" [ngClass]="{'is-invalid':submitted && bookingform.controls['Age'].errors}" type="text" class="form-control">
                      <div *ngIf="submitted && bookingform.controls['Age'].errors" class="text-danger">
                        <div *ngIf="submitted && bookingform.controls['Age'].errors?.['required']">Please, enter your valid age.</div>
                      </div>
                  </div>

                  <div class="formgroup"> <!--Blood Group of the form-->
                      <label for="BGroup">Blood Group:</label>
                      <input formControlName="BGroup" [ngClass]="{'is-invalid':submitted && bookingform.controls['BGroup'].errors}" type="text" class="form-control">
                      <div *ngIf="submitted && bookingform.controls['BGroup'].errors" class="text-danger">
                        <div *ngIf="submitted && bookingform.controls['BGroup'].errors?.['required']">Please, enter your valid Blood Group.</div>
                      </div>
                  </div>

                  <div class="formgroup"> <!--Doctor's name of the form-->
                      <label for="name">Doctor's Name:</label> 
                      <input type="text" class="form-control">
                  </div>

                  <div class="formgroup"> <!--Query of the form-->
                    <label for="query">Your Query:</label>
                    <input formControlName="Query" [ngClass]="{'is-invalid':submitted && bookingform.controls['Query'].errors}" type="text" class="form-control">
                    <div *ngIf="submitted && bookingform.controls['Query'].errors" class="text-danger">
                      <div *ngIf="submitted && bookingform.controls['Query'].errors?.['required']">Please, enter your query.</div>
                    </div>
                  </div>

                <div class="form-group">  <!--Button of the form-->
                    <button class="btn btn-primary">Submit Form</button>
                </div>

            </form>
        </div>
    </div>
</div>

















